DEBUG=False
SECRET_KEY=your-django-production-secret-key
DB_NAME=defaultdb
DB_USER=avnadmin
DB_PASSWORD=your-aiven-password
DB_HOST=pathshala-sachin-ccbd.a.aivencloud.com
DB_PORT=17542
DB_SSL_REQUIRE=True
ALLOWED_HOSTS=*
CORS_ALLOW_ALL_ORIGINS=True

# Email Configuration (Optional - for live email sending via Gmail SMTP)
# EMAIL_HOST_USER=Techmastersinnovations@gmail.com
# EMAIL_HOST_PASSWORD=your-google-app-password
